# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
/client/node_modules
/server/node_modules

# testing
/coverage

# production
/build

# snapshots
/Snapshots

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Terminal_Output_Botched_Commit.txt
Synchronization.txt
Refactor.txt
Dev_Notes.txt
css_for_menu_button.txt

# ganache
/client/ganache
.localchain

