* {
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}
@font-face {
    font-family: 'bentonreg';
    src: url('./fonts/bentonsans_regular-webfont.woff2') format('woff2'),
         url('./fonts/bentonsans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nimbus-sans-italic';
    src: url('./fonts/nimbus_sans_becker_dcon_italic-webfont.woff2') format('woff2'),
         url('./fonts/nimbus_sans_becker_dcon_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'benton-italic';
    src: url('./fonts/benton-italic.woff') format('woff'),
      url('./fonts/benton-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bentonlight';
    src: url('./fonts/bentonsans_light-webfont.woff2') format('woff2'),
         url('./fonts/bentonsans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'streamsterregular';
    src: url('./fonts/streamster-webfont.woff2') format('woff2'),
         url('./fonts/streamster-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lazer84regular';
    src: url('./fonts/lazer84-webfont.woff2') format('woff2'),
         url('./fonts/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.App  {
  width: 1055px;
   min-height: 688px;
  margin: 0 auto;
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  /*font-family: bentonreg;*/
  /*text-align: center;*/
}

h1 {
  display: inline-block;
  /*margin: 0 auto;*/
  text-align: center;
  width: 162px;
  font-family: streamsterregular;
  color: #FC60A8;
  /*border: solid 1px black;*/
}

.header {
  width: 100%;
}

.menu-button {
}

.current-user {
  /*padding-left: 1em;*/
  display: inline-block;
  /* margin-left: 78%; */
  font-family: bentonreg;
  font-size: 14pt;
}

/*.logout-button {
  margin-left: 1em;
  color: #222;
  font-weight: 600;
  border: solid #222 2px;
  border-radius: 5px;
  background-color: #83ffcd;
  box-shadow: 4px 4px 0 #222;
  font-size: 14px;
  text-align: left;
  font: 13.333px Arial;
}*/


.menu-button .token {
  position: absolute;
  right: 50px;
  top: 219px;
}

.menu-button-menu .token {
  position: absolute;
  right: 50px;
  top: 247px;
}

.userTokenFunds {
  position: absolute;
  right: 61px;
  top: 140px;
}

.menu-button.token .menu-button-menu {
  /* position: absolute; */
  right: 40px;
  top: 250px;
}

.menu-button-user-button.fund {
  position: absolute;
  top: 400px;
  right: 50px;
}

.bond-rewards {
  position: absolute;
  top: 325px;
  right: 50px;
}

.contract-rewards {
  position: absolute;
  top: 300px;
  right: 50px;
}
