
* {
    font-family: bentonreg;
}

.foreign-step-with-buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 1px solid black */
}

.foreign-step-suggest-remove {
  display: flex;
  flew-flow: row wrap;
  justify-content: center;
  width: 100%;

}

.prompt {

    display: flex;
    width: 100%;
    justify-content: center;
}

.prompt p {
    margin: 0;
}

.yes-no-prompt-buttons {
  margin-left: 5px;
}

.button-yes {
  margin-right: 5px;
}


.foreign-step-remove-suggested-step {
  display: flex;
  flew-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.foreign-step-suggest-step {
  display: flex;
  width: 100%;
  justify-content: center;
}



.currentsteps-label {
    margin-left: 256px;
}

ul.sortable-container {
    border: solid 1px black;
     display: flex;
    flex-direction: column;
    list-style: none;
    width: 50%;
    margin: 0 auto;
    min-height: 194px;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
}


.sortable-item-wrapper {
    /*border: solid 1px red;*/
    list-style: none;
    /*padding: 15px;*/
    display: flex;
    /* flex-wrap: wrap; */
    width: 453px;
    /*height: 75px;*/
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    padding: 0;
}

.row-1 {
    display: flex;
    width: 100%;
    /* align-self: center; */
    justify-content: center;
    user-select: none;
    /*border: solid 1px orange;*/
    /*margin-bottom: 21px;*/
}

.row-2 {

}

li.minus-image {
    position: relative;
    /*top: -5px;*/
    margin-right: 14px;
    height: 30px;
    width: 30px;
}

li.current-step {
    height: 30px;
    cursor: default;
    user-select: none;
}

.plus-image {
    margin-left: 19px;
    position: relative;
    /*top: -4px;*/


}
