.FundEscrowButton.fund {
  margin-top: 16px;
  margin-left: 874px;
  /* display: inline-block; */
  /*border: solid 1px black;*/
}

.menu-button-user-button.fund {
  color: #222;
  font-weight: 600;
  border: solid #222 2px;
  border-radius: 5px;
  background-color: #FF3336;
  box-shadow: 4px 4px 0 #222;
  font-size: 14px;
  text-align: left;
  font: 13.333px Arial;
  cursor: pointer;
}

.menu-button-menu {
  position: absolute;
}

.menuitem-userfeed {
  color: black ;
  text-decoration: underline;
  cursor: pointer;
}

.menuitem-logout {
  cursor: pointer;
  text-decoration: underline;
}
