.menu-button.user {
  position: absolute;
  right: 50px;
  top: 75px;
}

.menu-button-user-button {
  color: #222;
  font-weight: 600;
  border: solid #222 2px;
  border-radius: 5px;
  background-color: #83ffcd;
  box-shadow: 4px 4px 0 #222;
  font-size: 14px;
  text-align: left;
  font: 13.333px Arial;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}

.menu-button-menu {
  /* margin-top: 20px; */
  /* position: relative;
  right: 41px; */
}

.menuitem-userfeed {
  color: black ;
  text-decoration: underline;
}

.menuitem-logout {
  cursor: pointer;
  text-decoration: underline;
}

.menu-button.user .menu-button-menu{
  position: absolute;
  right: -20px;
}
