.select-suggester-arrows-container {
  margin-bottom: 30px;
}

.select-suggester-wrapper {
  text-align: center;
  margin-top: .5em;
}

.far.faUser.fa-lg  {
    cursor: pointer;
}

.fas.faUser.fa-lg.two  {
    color: #ef3779;
    margin-right: 5px;
    cursor: pointer;
}

.far.faUser.fa-lg.two  {
    margin-left: 5px;
    cursor: pointer;
}

.fas.faCaretLeft {
  cursor: pointer;
}

.fas.faCaretRight {
  cursor: pointer;
}
