.select-suggester-arrows-container {
  margin-bottom: 30px;
}

.select-suggester-wrapper {
  text-align: center;
  margin-top: .5em;
}

.far.faUser.fa-lg  {
    cursor: pointer;
}

.fas.faCaretLeft {
  cursor: pointer;
}

.fas.faCaretRight {
  cursor: pointer;
}
