* {
  box-sizing: border-box;
}

.target-user-wrapper {
  text-align: center;
  margin-top: .5em;
}

.target-user-p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: bentonreg;
  margin-left: 10px;
}

.fas.faCaretRight {
  margin-left: 5px;
}
.fas.faCaretLeft {
  margin-right: 5px;
}

.target-user-arrows-container {
  font-size: 12pt;
}
