.menu-button.token {
}

.menu-button-user-button.token {
  color: #222;
  font-weight: 600;
  border: solid #222 2px;
  border-radius: 5px;
  background-color: #FFF533;
  box-shadow: 4px 4px 0 #222;
  font-size: 14px;
  text-align: left;
  font: 13.333px Arial;
  cursor: pointer;
}

.menu-button-menu {
  outline: none;
}

.menuitem-userfeed {
  color: black ;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.menuitem-logout {
  cursor: pointer;
  text-decoration: underline;
}
#root > div > div > div.menu-button.token > div > ul {
  padding-left: 0;
  padding-right: 10px;
}

#root > div > div > div.menu-button.token > div > ul > div:nth-child(1) {
  margin-bottom: 10px;
}

#root > div > div > div.menu-button.token > div > ul {
  /* padding: 2px;
  border: 1px solid black; */
}
#root > div > div > div.menu-button.token > div > ul > div:nth-child(1) > form > input[type=text]:nth-child(1) {
  width: 50%;
  margin-top: 5px;
}
#root > div > div > div.menu-button.token > div > ul > div:nth-child(1) > form {
  margin-top: 3px;
  margin-left: 3px;
}
#root > div > div > div.menu-button.token > div > ul > div:nth-child(2) > form > label > input[type=text] {
  width: 50%;
  margin-top: 5px;
}

#root > div > div > div.menu-button.token > div > ul > div:nth-child(2) > form {
  margin-top: 3px;
  margin-left: 3px;
}
