* {
  box-sizing: border-box;
}

.fas.faGlobe.fa-lg {
  color: #52b8f2;
}

h2 {
  width: 132px;
  margin: 51px auto 5px auto;
  text-align: center;
  margin-bottom: 5px;
  font-family: bentonreg;
}

.globalfeed {
  display: block;
  text-align: center;
  padding-top: 20px;
}
