.main {

}

.main h5  {
  text-align: center;
}

.main p {
  text-align: center;
}

.main ul {
  text-align: justify;
}

.main .try {
  text-align: center;
}

.main .auth-button {
text-align: center;
}
